In [63]:
import csv
with open('hrishipara_financial_diaries.csv') as var_name:
    reader=csv.reader(var_name)
    A = [row for row in reader]
import pingouin as pg
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager as fm
from matplotlib import cm
pd.set_option('display.max_rows', None)
df = pd.DataFrame(A)
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df['code']=df['code'].str.lower()
df['description']=df['description'].str.lower()
df["takaout"] = pd.to_numeric(df["takaout"])
df["takain"] = pd.to_numeric(df["takain"])
df['date']=pd.to_datetime(df.date)
df.drop(df.loc[df['date'] < '2019-01-01'].index, inplace=True)
df.drop(df.loc[df['date'] > '2019-12-31'].index, inplace=True)
df.head()

,date,ref,code,class,description,subclass,tag,takain,takaout,details,notes,flow,type,quartile
579125,2019-01-01,no rec,01kif,IWA,earned income,work for Hizra,no rec,50,0,work with Hijra,no rec,in,income,4
579126,2019-01-01,no rec,01kif,IWA,earned income,shop labour,no rec,15,0,onion and potato shop,no rec,in,income,4
579127,2019-01-01,no rec,01kif,IWA,earned income,shop labour,no rec,12,0,water supply,no rec,in,income,4
579128,2019-01-01,no rec,01kif,EFO,food costs,milk,no rec,0,-25,milk,no rec,out,expenditure,4
579129,2019-01-01,no rec,01kif,EFO,food costs,cooking oil,no rec,0,-10,mustard oil,no rec,out,expenditure,4

In [14]:
df.code.unique()  #2020

array(['01kif', '13nmm', '05raf', '08shf', '12kaf', '23hrm', '25hem',
       '26bif', '32fuf', '35ptf', '42laf', '51syf', '61rdf', '20rof',
       '19mdm', '07mom', '24abm', '63grf', '34nyf', '30hbm', '58shf',
       '11sum', '14hym', '15ibm', '02obm', '66tuf', '62arm', '55rhf',
       '59srf', '46mzm', '53rkf', '54hof', '64srf', '67sim', '36skm',
       '16anm', '18bim', '10afm', '22alm', '65mof', '29arm', '27hdm',
       '03saf', '17atf', '21pjm', '31nlf', '43snm', '45adm', '47azm',
       '57sef', '33akf', '38jhf', '40rbf', '50hzm', '72shm', '39snf',
       '52kby', '56baf', '60ajf', '71udm'], dtype=object)

In [15]:
len(df.code.unique())

60

In [44]:
for b in ['01kif', '13nmm', '05raf', '08shf', '12kaf', '23hrm', '25hem',
       '26bif', '32fuf', '35ptf', '42laf', '51syf', '61rdf', '20rof',
       '19mdm', '07mom', '24abm', '63grf', '34nyf', '30hbm', '58shf',
       '11sum', '14hym', '15ibm', '02obm', '66tuf', '62arm', '55rhf',
       '59srf', '46mzm', '53rkf', '54hof', '64srf', '67sim', '36skm',
       '16anm', '18bim', '10afm', '22alm', '65mof', '29arm', '27hdm',
       '03saf', '17atf', '21pjm', '31nlf', '43snm', '45adm', '47azm',
       '57sef', '33akf', '38jhf', '40rbf', '50hzm', '72shm', '39snf',
       '52kby', '56baf', '60ajf', '71udm']:
    print(b)

01kif
13nmm
05raf
08shf
12kaf
23hrm
25hem
26bif
32fuf
35ptf
42laf
51syf
61rdf
20rof
19mdm
07mom
24abm
63grf
34nyf
30hbm
58shf
11sum
14hym
15ibm
02obm
66tuf
62arm
55rhf
59srf
46mzm
53rkf
54hof
64srf
67sim
36skm
16anm
18bim
10afm
22alm
65mof
29arm
27hdm
03saf
17atf
21pjm
31nlf
43snm
45adm
47azm
57sef
33akf
38jhf
40rbf
50hzm
72shm
39snf
52kby
56baf
60ajf
71udm

In [49]:
df.code.unique() #2019

array(['01kif', '05raf', '08shf', '12kaf', '23hrm', '26bif', '70jom',
       '27hdm', '69jim', '33akf', '19mdm', '30hbm', '34nyf', '16anm',
       '63grf', '10afm', '38jhf', '07mom', '36skm', '62arm', '59srf',
       '20rof', '11sum', '55rhf', '66tuf', '46mzm', '13nmm', '65mof',
       '02obm', '14hym', '57sef', '64srf', '18bim', '24abm', '61rdf',
       '67sim', '22alm', '21pjm', '31nlf', '29arm', '03saf', '17atf',
       '43snm', '45adm', '47azm', '53rkf', '54hof', '58shf', '39snf',
       '40rbf', '50hzm', '72shm', '32fuf', '35ptf', '42laf', '51syf',
       '52kby', '56baf', '60ajf', '71udm', '25hem', '15ibm'], dtype=object)

In [48]:
len(df.code.unique())

62

In [50]:
for a in ['01kif', '05raf', '08shf', '12kaf', '23hrm', '26bif', '70jom',
       '27hdm', '69jim', '33akf', '19mdm', '30hbm', '34nyf', '16anm',
       '63grf', '10afm', '38jhf', '07mom', '36skm', '62arm', '59srf',
       '20rof', '11sum', '55rhf', '66tuf', '46mzm', '13nmm', '65mof',
       '02obm', '14hym', '57sef', '64srf', '18bim', '24abm', '61rdf',
       '67sim', '22alm', '21pjm', '31nlf', '29arm', '03saf', '17atf',
       '43snm', '45adm', '47azm', '53rkf', '54hof', '58shf', '39snf',
       '40rbf', '50hzm', '72shm', '32fuf', '35ptf', '42laf', '51syf',
       '52kby', '56baf', '60ajf', '71udm', '25hem', '15ibm']:
    print(a)

01kif
05raf
08shf
12kaf
23hrm
26bif
70jom
27hdm
69jim
33akf
19mdm
30hbm
34nyf
16anm
63grf
10afm
38jhf
07mom
36skm
62arm
59srf
20rof
11sum
55rhf
66tuf
46mzm
13nmm
65mof
02obm
14hym
57sef
64srf
18bim
24abm
61rdf
67sim
22alm
21pjm
31nlf
29arm
03saf
17atf
43snm
45adm
47azm
53rkf
54hof
58shf
39snf
40rbf
50hzm
72shm
32fuf
35ptf
42laf
51syf
52kby
56baf
60ajf
71udm
25hem
15ibm

In [53]:
set(['01kif', '13nmm', '05raf', '08shf', '12kaf', '23hrm', '25hem',
       '26bif', '32fuf', '35ptf', '42laf', '51syf', '61rdf', '20rof',
       '19mdm', '07mom', '24abm', '63grf', '34nyf', '30hbm', '58shf',
       '11sum', '14hym', '15ibm', '02obm', '66tuf', '62arm', '55rhf',
       '59srf', '46mzm', '53rkf', '54hof', '64srf', '67sim', '36skm',
       '16anm', '18bim', '10afm', '22alm', '65mof', '29arm', '27hdm',
       '03saf', '17atf', '21pjm', '31nlf', '43snm', '45adm', '47azm',
       '57sef', '33akf', '38jhf', '40rbf', '50hzm', '72shm', '39snf',
       '52kby', '56baf', '60ajf', '71udm'])-set(["01kif",
"02obm",
"03saf",
"05raf",
"07mom",
"10afm",
"11sum",
"12kaf",
"13nmm",
"14hym",
"16anm",
"17atf",
"18bim",
"19mdm",
"20rof",
"22alm",
"26bif",
"27hdm",
"29arm",
"30hbm",
"31nlf",
"32fuf",
"33akf",
"34nyf",
"35ptf",
"36skm",
"38jhf",
"39snf",
"40rbf",
"43snm",
"45adm",
"47azm",
"51syf",
"52kby",
"53rkf",
"54hof",
"56baf",
"57sef",
"59srf",
"60ajf",
"61rdf",
"62arm",
"65mof",
"66tuf",
"67sim"])

{'08shf',
 '15ibm',
 '21pjm',
 '23hrm',
 '24abm',
 '25hem',
 '42laf',
 '46mzm',
 '50hzm',
 '55rhf',
 '58shf',
 '63grf',
 '64srf',
 '71udm',
 '72shm'}

In [62]:
ID=['08shf',
 '15ibm',
 '21pjm',
 '23hrm',
 '24abm',
 '25hem',
 '42laf',
 '46mzm',
 '50hzm',
 '55rhf',
 '58shf',
 '63grf',
 '64srf',
 '71udm',
 '72shm']
Notsure={}
for i in ID:  
    print(i)
    print(df[df.code==i].head(1))
    print(df[df.code==i].tail(1))

08shf
0          date     ref   code class    description       subclass     tag  \
1073 2015-08-02  no rec  08shf   IWA  earned income  brickbreaking  no rec

0     takain  takaout        details  \
1073     900        0  brickbreaking

0                                                 notes flow    type quartile
1073  Wages 08shf Barman received that amount after ...   in  income        4
0            date     ref   code class      description  subclass     tag  \
939970 2021-02-28  no rec  08shf   ETR  transport costs  rickshaw  no rec

0       takain  takaout   details   notes flow         type quartile
939970       0      -30  rickshaw  no rec  out  expenditure        4
15ibm
0          date    ref   code class        description            subclass  \
5884 2015-09-08  bKash  15ibm   PFR  payments received  for onward payment

0    tag  takain  takaout         details  \
5884  mb   25000        0  brother abroad

0                                                 notes flow  \
5884  Receipt from others Ibrahim has a bKash accoun...   in

0                  type quartile
5884  rec & payments in        3
0            date     ref   code class         description     subclass  \
940017 2021-02-28  no rec  15ibm   IDR  dressmaking income  dressmaking

0          tag  takain  takaout       details   notes flow    type quartile
940017  no rec    1200        0  dress making  no rec   in  income        3
21pjm
0           date      ref   code class            description    subclass  \
11771 2015-10-03  decript  21pjm   IFO  shoe sales and repair  shoe sales

0         tag  takain  takaout     details   notes flow    type quartile
11771  no rec     240        0  shoe sales  no rec   in  income        3
0            date     ref   code class                 description  \
940075 2021-02-28  no rec  21pjm   GDR  payment from diary project

0           subclass     tag  takain  takaout   details   notes flow  \
940075  diary reward  no rec     400        0  SS diary  no rec   in

0                       type quartile
940075  participation reward        3
23hrm
0           date     ref   code class      description subclass     tag  \
13884 2015-10-10  no rec  23hrm   BAL  opening balance       ob  no rec

0      takain  takaout details   notes flow type quartile
13884   22277        0      ob  no rec   ob   ob        4
0            date     ref   code class          description      subclass  \
940089 2021-02-28  no rec  23hrm   IHA  hairdressing income  hairdressing

0          tag  takain  takaout       details   notes flow    type quartile
940089  no rec     350        0  hairdressing  no rec   in  income        4
24abm
0           date       ref   code class description subclass     tag  takain  \
13623 2015-10-10  descript  24abm   IFA  farm sales    fruit  no rec     500

0      takaout details                                              notes  \
13623        0  banana  Farm and livestock sales 24abm Siddique (60), ...

0     flow    type quartile
13623   in  income        2
0            date     ref   code class         description     subclass tag  \
940097 2021-02-28  no rec  24abm   IDR  dressmaking income  dressmaking  bb

0       takain  takaout              details   notes  flow    type quartile
940097     200        0  wife , dress making  no rec  in-t  income        2
25hem
0           date      ref   code class           description subclass     tag  \
14560 2015-10-12  finance  25hem   FLT  loan or howlat taken   howlat  no rec

0      takain  takaout details                                         notes  \
14560     300        0  howlat  Loan taken Neither he nor his wife use MFIs.

0     flow     type quartile
14560   in  loan in        4
0            date     ref   code class                 description  \
940100 2021-02-28  no rec  25hem   GDR  payment from diary project

0           subclass     tag  takain  takaout   details   notes flow  \
940100  diary reward  no rec     400        0  SS diary  no rec   in

0                       type quartile
940100  participation reward        4
42laf
0           date     ref   code class      description subclass     tag  \
56923 2016-02-08  no rec  42laf   BAL  opening balance       ob  no rec

0      takain  takaout details   notes flow type quartile
56923    1089        0      ob  no rec   ob   ob        4
0            date     ref   code class                 description  \
940165 2021-02-28  no rec  42laf   GDR  payment from diary project

0           subclass     tag  takain  takaout   details   notes flow  \
940165  diary reward  no rec     400        0  SS diary  no rec   in

0                       type quartile
940165  participation reward        4
46mzm
0           date     ref   code class      description subclass     tag  \
60472 2016-02-18  no rec  46mzm   BAL  opening balance       ob  no rec

0      takain  takaout details   notes flow type quartile
60472     483        0      ob  no rec   ob   ob        3
0            date     ref   code class     description     subclass     tag  \
940179 2021-02-28  no rec  46mzm   IBO  boatman income  oared ferry  no rec

0       takain  takaout details   notes flow    type quartile
940179     280        0    boat  no rec   in  income        3
50hzm
0           date     ref   code class description subclass     tag  takain  \
64607 2016-02-27  no rec  50hzm   EFO  food costs    dairy  no rec       0

0      takaout details   notes flow         type quartile
64607      -25    milk  no rec  out  expenditure        1
0            date     ref   code class                 description  \
940190 2021-02-28  no rec  50hzm   GDR  payment from diary project

0           subclass     tag  takain  takaout   details   notes flow  \
940190  diary reward  no rec     400        0  SS diary  no rec   in

0                       type quartile
940190  participation reward        1
55rhf
0            date     ref   code class                 description  \
286120 2017-07-24  no rec  55rhf   ITE  home or street snack sales

0                         subclass     tag  takain  takaout details  \
286120  home or street snack sales  no rec     700        0    cake

0                                         notes flow    type quartile
286120  Her husband did not go work due to rain   in  income        3
0            date     ref   code class                 description subclass  \
940233 2021-02-28  no rec  55rhf   ITE  home or street snack sales   bakery

0          tag  takain  takaout details   notes flow    type quartile
940233  no rec     320        0    cake  no rec   in  income        3
58shf
0            date     ref   code class      description subclass     tag  \
286092 2017-07-24  no rec  58shf   BAL  opening balance       ob  no rec

0       takain  takaout details   notes flow type quartile
286092    8081        0      ob  no rec   ob   ob        3
0            date     ref   code class                 description  \
940242 2021-02-28  no rec  58shf   GDR  payment from diary project

0           subclass     tag  takain  takaout   details   notes flow  \
940242  diary reward  no rec     400        0  SS diary  no rec   in

0                       type quartile
940242  participation reward        3
63grf
0            date     ref   code class description subclass     tag  takain  \
286098 2017-07-24  no rec  63grf   ISH  shop sales  clothes  no rec    3000

0       takaout           details   notes  flow    type quartile
286098        0  son clothes shop  no rec  in-t  income        2
0            date     ref   code class description        subclass     tag  \
940267 2021-02-28  no rec  63grf   ISH  shop sales  clothes, cloth  no rec

0       takain  takaout                           details   notes  flow  \
940267    1500        0  elder son, clothing shop profits  no rec  in-t

0         type quartile
940267  income        2
64srf
0            date     ref   code class      description subclass     tag  \
286097 2017-07-24  no rec  64srf   BAL  opening balance       ob  no rec

0       takain  takaout details   notes flow type quartile
286097    3714        0      ob  no rec   ob   ob        3
0            date     ref   code class    description subclass     tag  \
940270 2021-02-28  no rec  64srf   IWA  earned income  masonry  no rec

0       takain  takaout       details   notes flow    type quartile
940270     500        0  mason helper  no rec   in  income        3
71udm

0            date     ref   code class    description     subclass     tag  \
368054 2017-12-06  no rec  71udm   IWA  earned income  shop labour  no rec

0       takain  takaout details   notes flow    type quartile
368054     150        0   hotel  no rec   in  income        4
0            date     ref   code class    description     subclass     tag  \
940283 2021-02-28  no rec  71udm   IWA  earned income  shop labour  no rec

0       takain  takaout details   notes flow    type quartile
940283     200        0   hotel  no rec   in  income        4
72shm
0            date     ref   code class     description subclass     tag  \
371417 2017-12-12  no rec  72shm   ECO  communications  airtime  no rec

0       takain  takaout  details   notes flow         type quartile
371417       0      -30  airtime  no rec  out  expenditure        1
0            date     ref   code class description subclass     tag  takain  \
940298 2021-02-28  no rec  72shm   ISH  shop sales     tea+  no rec     400

0       takaout  details   notes flow    type quartile
940298        0  tea pan  no rec   in  income        1

In [25]:

x=['21pjm','23hrm','24abm','25hem','28him','37hsm','41rzf','42laf','44rjm','46mzm','47azm','48rmm',
   '49yem','50hzm','55rhf','58shf','63grf','64srf','68mam','69jim','70jom','71udm']
for a in x:
    df=df.drop(df[(df.code==a)].index)

In [12]:
len(df.code.unique())

47

In [64]:
df= df.drop(df[(df.code=='69jim')].index)
df=df.drop(df[(df.code=='70jom')].index)

In [65]:
len(df.code.unique())

60

In [66]:
Expense=['snacks, treats, stimulants', 'transport costs', 'other expenditure', 'food costs',
         'toiletries purchased', 'communications',
        'fuel costs', 'home maintenance', 'clothes, cloth',
        'vehicle repair costs', 'rent paid', 'personal grooming',
        'healthcare costs',  
        'farm inputs', 'education costs', 'home construction',
        'gifts to outsiders', 'utilities cost', 'fees paid',
         'work tools and materials', 'jewellery purchases',
        'payment to others']

In [67]:
Expense_sum={}
for i in Expense:    
    x=df[df['description']==i].sum()['takaout']
    x=abs(x)
    Expense_sum[i]=x
y=0
for i in Expense:
    print(i,Expense_sum[i])
    y+=Expense_sum[i]
print('total=',y)

snacks, treats, stimulants 636953
transport costs 401374
other expenditure 1138305
food costs 3604638
toiletries purchased 82346
communications 157626
fuel costs 350555
home maintenance 340545
clothes, cloth 532055
vehicle repair costs 98140
rent paid 415460
personal grooming 11625
healthcare costs 614238
farm inputs 689271
education costs 429562
home construction 2878950
gifts to outsiders 361277
utilities cost 457106
fees paid 320496
work tools and materials 146976
jewellery purchases 174005
payment to others 35800
total= 13877303