In [5]:



import csv
with open('hrishipara_financial_diaries.csv') as var_name:
    reader=csv.reader(var_name)
    A = [row for row in reader]
import pingouin as pg
import numpy as np
import pandas as pd

df = pd.DataFrame(A)
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df['code']=df['code'].str.upper()
df['description']=df['description'].str.lower()
df["takaout"] = pd.to_numeric(df["takaout"])
df["takain"] = pd.to_numeric(df["takain"])
dfo=df.groupby([pd.Grouper(key='date',freq='M'),'description'])['takaout'].sum().unstack()
dfo.replace(0, np.nan, inplace=True)
dfo=dfo.dropna(axis=1, how="all")
dfi=df.groupby([pd.Grouper(key='date',freq='M'),'description'])['takain'].sum().unstack()
dfi.replace(0, np.nan, inplace=True)
dfi=dfi.dropna(axis=1, how="all")
dfx= pd.concat([dfi, dfo], axis=1)
dfx

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [2]:
dfx.head()

,date,ref,code,class,description,subclass,tag,takain,takaout,details,notes,flow,type,quartile
1,2015-05-20,descript,02OBM,IRI,rickshaw income,rickshaw driving,bb,260,0,rickshaw,"Rickshaw driving 02obm is 35, rickshaw driver,...",in,income,3
2,2015-05-20,descript,01KIF,IWA,earned income,shop labour,no rec,40,0,vegetable shop,"Wages 01kif , widow, 45. One person hh (she ha...",in,income,4
3,2015-05-20,no rec,01KIF,IWA,earned income,shop labour,no rec,10,0,vegetable shop,no rec,in,income,4
4,2015-05-20,no rec,01KIF,ETE,"snacks, treats, stimulants","betel nut, leaf",no rec,0,-5,betel nut,no rec,out,expenditure,4
5,2015-05-20,no rec,01KIF,ETR,transport costs,ferry,no rec,0,-4,boat,no rec,out,costs,4